body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.clr{
    color: orange;
}
section{
    display: flex;
margin-bottom: 50px;
}
.half-width{
width: 50%;
padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
   background-image: linear-gradient(orange,tomato);
   color: white;
   font-weight: 700;
    padding: 10px 40px;
border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h2{
    font-size: 50px;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}
.resume-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.text-resize{
    text-align: center;
}
.experience-area{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:  20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}
h2{
    font-size: 35px;
}
.bottom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#b1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#b2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 200px;
}